<ion-header>
  <ion-toolbar color='#2F4F4F'>
    <ion-icon name="arrow-back-outline" size="large" (click)="backButton()"></ion-icon>
    <ion-title style="text-align: center;">About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <div>
  <p>
    KasiFoodHub is an exciting food odering/delivery application created for our people ko kasi.
  </p>
  <p>From Sosha to Soweto,Alex to Mams ,Tembisa to peli. your kasi your food</p>
</div>
</ion-item>
<div>
 
  <ion-button color="danger" shape="round" (click)="backButton()">Back</ion-button>
</div>
</ion-content>
