<ion-header>
  <ion-toolbar color='warning'>
    <ion-title>restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Kasi Food</ion-card-title>
    <img src = 'assets/images/logo2.jpg'>
    <ion-button expand="block" color = 'success'  (click)="order()">View menu</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-title>Nkukhu Box</ion-card-title>
    <img src = 'assets/images/logo.png'>
    <ion-button expand="block" color = 'success'  (click)="secOrder()">View menu</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-title>Jay's Eatery</ion-card-title>
    <img src = 'assets/images/logo3.jpg'>
    <ion-button expand="block" color = 'success'  (click)="thirdOrder()">View menu</ion-button>
  </ion-card>
</ion-content>
