<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-row>
    <ion-col size="12">
      <ion-item>
          <ion-label color="medium" position="floating">Company Name</ion-label>
          <ion-input type="text" [(ngModel)]="company.name"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7">
      <ion-item>
          <ion-label color="medium" position="floating">Address</ion-label>
          <ion-input type="text" [(ngModel)]="company.address"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="5">
      <ion-item>
        <ion-label color="medium" position="floating">ZIP</ion-label>
        <ion-input [(ngModel)]="company.zip" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7">
      <ion-item>
          <ion-label color="medium" position="floating">City</ion-label>
          <ion-input type="text" [(ngModel)]="company.city"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="5">
      <ion-item>
        <ion-label color="medium" position="floating">State</ion-label>
        <ion-input [(ngModel)]="company.state" type="text"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
          <ion-label color="medium" position="floating">Email</ion-label>
          <ion-input type="text" [(ngModel)]="company.email"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-item>
          <ion-label color="medium" position="floating">Phone Number</ion-label>
          <ion-input type="text" [(ngModel)]="company.phone"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6">
        <ion-button expand="block" (click)="save()">
          Save
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
