<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Make Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" (click)="home()">
      <ion-icon name="home" class="home-icon"></ion-icon>
  </ion-fab>
  
  <h5>Customer Details</h5>
  <ion-card>
    <ion-item>
      <ion-label>Name: Precious Selepe</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Contact Number: 0785249635</ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-radio-group>
      <ion-list-header>
          <h6>Delivery Options</h6>
      </ion-list-header>
        <div class="btn-group btn-group-justified">
          <a auclick (click)="toggleDisplay()" class="btn btn-primary">Collect</a>
          <a (click)="toggleDisplayNot()" class="btn btn-primary">Deliver</a>
        </div>
    </ion-radio-group>
    
    <form #addressForm="ngForm" novalidate>

      <div [hidden] = "isDisplay">
        <ion-item>
          <ion-label>Delivery Address</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>House n0</ion-label>
          <ion-input  type="number" placeholder="8547" required></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Street</ion-label>
          <ion-input type="text" placeholder="23 riga str"></ion-input>
        </ion-item>
          
        <ion-item>
          <ion-label>Town</ion-label>
          <ion-input type="text" placeholder="Randburg"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Zip</ion-label>
          <ion-input type="number" placeholder="0871"></ion-input>
        </ion-item>
       
      </div>

    </form>
    
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-label>Payment method</ion-label>
    </ion-item>
    <ion-item>
    <ion-radio-group>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label>Eft</ion-label>
              <ion-radio disabled value="Eft"></ion-radio>
            </ion-col>
            <ion-col>
              <ion-label>Cash</ion-label>
              <ion-radio checked value="Cash"></ion-radio>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-radio-group>
  </ion-item>
  </ion-card>
  <ion-item>
    <ion-label color="success" id="name" (click)="order()"></ion-label>
  </ion-item>
  

  <ion-button [disabled]="!addressForm.valid" type="submit" id="submit" (click)="order()">Place Order</ion-button>
  
</ion-content>
