.masters{
    background-color: orange;
}

.content-color{
    background-color: black;
}

ion-content{
   --background: lightblue;
    //--background-image: url(/assets/images/background.jpg);
   // --background: url(/assets/images/background.jpg) 0 0/100% 100% no-repeat;
}

.card {
    width:10%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-body {
    
    --background: gold;
    padding: 30px;
    height: calc(100vh - (200px + 56px));
    overflow: hidden;
  }
  .header img {
    float: left;
    width: 85px;
    height: 85px;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
  .pics{
    width: 509px;
    height: 476px;
  }