
.masters{
    background-color: orange;
}

.content-color{
    background-color: black;
}

.card {
  --background: gold;
  padding: 30px;
  height: calc(500vh - (100px + 56px));
  overflow: hidden;
  }

  .card-body {
    
    --background: gold;
    padding: 30px;
    height: calc(100vh - (200px + 56px));
    overflow: hidden;
  }
  .header img {
    float: left;
    width: 85px;
    height: 85px;
    background: #555;
  }
  
  .header a{

    position: 100%;
    padding: 2px 20px;
    width: 100rem 300rem;
    padding-right: 30px;
    top: 30px;
    left: 10px;
    
  }
  .header h1 {
    position: relative;
    top: 18px;
    left: 10px;
  }
  .pics{
    
    width: auto;
    padding: 30px;
   
  }

  /* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
  line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
  margin-bottom: 5px;
}

  