<ion-header> 
  <ion-toolbar color = "#A9A9A9" >
    <ion-col>
      <ion-icon name="menu-sharp" size="large"(click)="presentActionSheet()"></ion-icon>
    </ion-col>

    <ion-title>
      Kasi Food Hub
    </ion-title>
    
  </ion-toolbar>
      

</ion-header>

<ion-content class = "card-background-page">
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content> 
  </ion-refresher>

  <!--Restaurants picture with the view button-->
  <ion-card class="card">
    <ion-card-title>Restaurants</ion-card-title>
    <ion-card-content>

      <ion-grid fixed>
        <ion-row> <!--This is just one row with mulitiple columns-->
          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Mamas Kitchen</ion-card-title>
                <p>Delicious Dish</p>
              </ion-card-content>
              
            </ion-card>
          </ion-col>

          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoVendorMenu2()" >
              <ion-img class = "back-image" src="/assets/images/foodhub.png"></ion-img>
              <ion-card-content>
                <ion-card-title>KASI COOKS</ion-card-title>
                <p>Come join the fun in your kasi</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
       
          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoVendorMenu3()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Rata nama</ion-card-title>
                <p>Monate wa nama</p>
              </ion-card-content>
              
            </ion-card>
           
          </ion-col>

          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Ashley's grilled Chicken</ion-card-title>
                <p>SA's best chicken grillers</p>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>

        <ion-row> <!--This is just one row with mulitiple columns-->
          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Dipitseng</ion-card-title>
                <p>The best Dish</p>
              </ion-card-content>
              
            </ion-card>
          </ion-col>

          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Leplankeng</ion-card-title>
                <p>Mouth watering dishes</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
       
          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Kota Palace</ion-card-title>
                <p>kota masters</p>
              </ion-card-content>
              
            </ion-card>
           
          </ion-col>

          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Chesa nyama</ion-card-title>
                <p>steak masters</p>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>

        <ion-row> <!--This is just one row with mulitiple columns-->
          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Fero's grilled chicken</ion-card-title>
                <p>Delicious Dish</p>
              </ion-card-content>
              
            </ion-card>
          </ion-col>

          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Mamas Kitchen</ion-card-title>
                <p>Delicious Dish</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
       
       
          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Mamas Kitchen</ion-card-title>
                <p>Delicious Dish</p>
              </ion-card-content>
              
            </ion-card>
           
          </ion-col>

          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Mamas Kitchen</ion-card-title>
                <p>Tasty Food</p>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>

        <ion-row> <!--This is just one row with mulitiple columns-->
          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img class = "back-image" src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Mamas Kitchen</ion-card-title>
                <p>Delicious Dish</p>
              </ion-card-content>
              
            </ion-card>
          </ion-col>

          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Mamas Kitchen</ion-card-title>
                <p>Delicious Dish</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
       
          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Mamas Kitchen</ion-card-title>
                <p>Delicious Dish</p>
              </ion-card-content>
              
            </ion-card >
           
          </ion-col>

          <ion-col size=12 size-lg=3 size-md=4 size-sm=6 size-xs=12 *ngFor="let item of [1]; let i = index">
            <ion-card (click)="gotoMenu1()">
              <ion-img src="/assets/images/sooncome.jpg"></ion-img>
              <ion-card-content>
                <ion-card-title>Mamas Kitchen</ion-card-title>
                <p>Mmmm delish...</p>
              </ion-card-content>
            </ion-card>
          </ion-col>

        </ion-row>

      </ion-grid>

    </ion-card-content>
  </ion-card>

    <!-- Data to display after skeleton screen -->

 </ion-content>
